body{
    background-image: url("../img/background.png");
}

header{
    background-color: black;
    opacity: 0.9; /* Opacité à 50% */

}

footer{
    background-color: black;
    opacity: 0.9; /* Opacité à 50% */
    padding: 20px;  
}

h5{
    text-align: center;
}

.hidden-field {
    display: none;
}
.hidden-label {
    display: none;
}

.adult-error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
}

.error-message {
    color: #D8000C;
    background-color: #FFD2D2;
    border: 1px solid #D8000C;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 0.9em;
}

.error-message ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.form-error-summary {
    color: red;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}
