body{
    background-image: url("../img/background.png");
}

header{
    background-color: black;
    opacity: 0.9; /* Opacité à 50% */

}

footer{
    background-color: black;
    opacity: 0.9; /* Opacité à 50% */
    padding: 20px;  
}