{% extends 'base.html.twig' %}

{% block title %}Mes encheres{% endblock %}

{% block body %}
<div class="card">
  <div class="card-header">
    Enchere
  </div>
  <div class="card-body">
<div class="row">
  {% for enchere in encheres %}
         <div class="col-md-4">
                <div class="card">
                        <img src="{{ enchere.image }}" class="card-img-top" alt="img" height="300">
                     <div class="card-body">
                     <h5 class="card-title">{{ enchere.nom }}</h5>
                      <p class="card-text">Prix de depart : <strong>{{ (enchere.startingPrice / 100) | number_format(2,',','.')  }}$+Taxes</strong></p>
                        <a href="{{ path('auction_show', {id : enchere.id}) }}" class="btn btn-dark">Monter l'enchere</a>
                         </div> 
                    </div>
              </div>      
    {% endfor %}
</div>
</div>
</div>
<br />
<br />
{% endblock %}