{% extends 'base.html.twig' %}

{% block title %}Page de connexion{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
         <div class="card-header">
           <h5 class="card-title">Page de connexion</h5>
          </div>
         
          <div class="card-body">
          
<form action="{{ path('security_login') }}" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1">Adresse courriel</label>
    <input type="email" name="_username" class="form-control" id="exampleInputEmail1"  placeholder="Adresse courriel">
   
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1">Mot de passe</label>
    <input type="password" name="_password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe">
  </div>
  <div class="mb-3" style="text-align: center;">
    <a href="{{ path('app_forgot_password_request') }}" >Mot de passe oublié ? cliquez ici</a>
  </div>
  <div class="d-grid gap-2">
  <button type="submit" class="btn btn-dark">Connexion</button>
  </div>
</form>
</div>
</div>
</div>
</div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{% endblock %}